
 .comtainer {
     width: 960px
}

button {
    cursor: pointer;
}

.btn {
    transition: 1s all;    
}

.btn:hover {
    background-color: white;
     color: black;
}

.nav-links {
    display: initial;
}

.nav-menu {
    display: none;
}

.nav-links a {
    margin-left: 45px;
}
    
.nav-links a:first-of-type {
    margin-left: 0;
}
    
.nav-links-disabled {
    opacity: .5;
    cursor: not-allowed;
}
.landing-page-hero-text {
    width: 60%;
}
.offer h1 {
    font-size: 36px;
}
.box-container {
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 1%;
}

