body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;    
}


.btn {
    padding: 8px 45px;
    border: 3px solid white;
    font-size:18px;
    color: white;
    background: transparent;
    transition: 1s all;

}

nav {
    position: fixed;
    width: 100%;
    background-color: #4E4E4E;
    font-size: 18px;
    z-index: 2;
}

.nav-links {
    display: none;
}

.nav-menu {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

nav .container > a {
    font-weight: bold;
    color: white
}
nav a {
    color: #F1F1F1;
    text-decoration: none;
}

.landing-page {
    height: 100vh;
    padding-top: 50px;
    box-sizing: border-box;
    background-image: url('https://picsum.photos/1680/1050');
    background-size: cover;
    background-position: center;
    color: white;
}

.landing-page-shadow {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, .4);  
}
   
.landing-page-shadow .container {
    display: flex;
    align-items: center;
    height: 100%;    
}

.landing-page-hero-text {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height:50%;
}
.landing-page-hero-text h1 {
    font-size: 36px;
}
.landing-page-hero-text h2, .landing-page-hero-text button {
    font-size: 18px;
}
.our-crew {
    padding: 50px 0px;
    background: #F1F1F1;
    color: black;

}
.our-crew h1 {
    margin-bottom: 50px;
    color:#152D41;;
    font-weight: bold;
    font-size: 36px;
}
.employee {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}
.employee:last-of-type {
    margin-bottom: 0;
}

.employee-pic {
    width: 200px;
    height: 200px;
    margin-bottom:50px;
    flex-shrink: 0;
    border-radius: 60%;

}
.employee-text {
    font-size: 18px;
    text-align: justify;
}
.employee-text h3 {
    font-weight: bold;
    margin-bottom: 25px;
}
.offer {
    padding: 50px 0;
    background-color: #405D78;    
}

.offer h1 {
    font-size: 26px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom:50px;
}

.box-container {
    display: grid;
    grid-template-columns:100%;
    grid-template-rows: auto;
    grid-row-gap: 10px;
    width: 100%;
}
.box-container > div:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    background-color:#F1F1F1;;
}
.box-container > div {
    position: relative;
}
.box-container .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 24px;
}
.dot {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
}
footer {
    height: 70px;
    background-color: #4E4E4E;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}


