.landing-page-hero-text {
    height:30%;
}
.employee {
    flex-direction: row;
}
.employee:nth-of-type(even) {
    flex-direction: row-reverse;
}
.employee:nth-of-type(even) .employee-pic {
    margin-right: 0;
    margin-left: 50px;
}
.employee-text {
    text-align: left;
}
.employee:nth-of-type(even) .employee-text {
    text-align: right;
}
.employee-pic {
    margin-right: 50px;
    margin-bottom: 0;
}